[submodule "accel/vdotprod"]
	path = accel/vdotprod
	url = https://github.com/Vincenzo0709/vdotprod.git
	tag = v1.0
[submodule "accel/matmul"]
	path = accel/matmul
	url = https://github.com/Vincenzo0709/matmul.git
	tag = v1.0
